<div class="row justify-content-center">
  <div class="btn-group gap-2" role="group" aria-label="Basic example">
    <button type="button" class="btn bg-primary" ><a class="link-light" href="/budget">Resumen Financiero</a></button>
    <button type="button" class="btn bg-primary" ><a href="/cashFlow" class="link-light">Flujo de efectivo</a></button>
    <button type="button" class="btn bg-primary"><a class="link-light" href="/results">Estado de Resultados</a></button>
    <button type="button" class="btn bg-primary"><a class="link-light" href="/income">Ingresos</a></button>
    <button type="button" class="btn bg-primary"><a class="link-light" href="/directCosts">Costos Directos</a></button>
    <button type="button" class="btn bg-primary"><a class="link-light" href="/expenses"> Gastos Administrativos</a></button>
    <button type="button" class="btn bg-primary"><a class="link-light" href="/resource">Recursos</a></button>
    <button type="button" class="btn bg-primary"><a class="link-light" href="/costs">Costos</a></button>
    <button type="button" class="btn bg-primary"><a class="link-light" href="/summary">Resumen Costos Recursos</a></button>
  </div>
</div>