<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/budgets.css">
    <title>Document</title>
</head>
<body>
  <div>
    <div>
      <input type="text" readonly name="name" value="Proyecto: <%= token.name %>">
    </div>
  </div>
    <div class="container mt-5 pt-5">
      <%- include('./partials/headBudget'); %>
      
    </div>
  <div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Concepto</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <th scope="row">
            <input type="text" readonly>
          </th>
          <td><input type="text" readonly></td>
          <td><input type="text" readonly></td>
          <td><input type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- <div class="container mt-5">
  <div class="t-container">
    <ul class="t-tabs">  
      <li class="t-tab">Resumen Financiero</li>  
      <li class="t-tab">Flujo de efectivo</li> 
      <li class="t-tab">Estado de resultados</li>  

      <li class="t-tab">Ingresos</li>  
      <li class="t-tab">Costos Directos</li>  
      <li class="t-tab">Gastos Administrativos</li>  

      <li class="t-tab">Recursos</li>  
      <li class="t-tab">Costos</li> 
      <li class="t-tab">Resumen Costos Recursos</li>  
    </ul>
    <ul class="t-contents">
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Ventas</th>
              <th scope="col">Costos</th>
              <th scope="col">Margen</th>
              <th scope="col">%</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" readonly>
              </th>
              <td><input type="text" readonly></td>
              <td><input type="text" readonly></td>
              <td><input type="text" readonly></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulos</th>
              <th scope="col">Ingresos</th>
              <th scope="col">Egresos</th>
              <th scope="col">Total</th>
              <th scope="col">Acumulado</th>
            </tr>
          </thead>
          <tbody id="table-flujo">
          </tbody>
        </table>
        <div>
          <button type="button" class="btn btn-primary" id="btn-row" onclick="add()">Agregar</button>
          <button type="button" class="btn btn-primary" id="btn-delete" onclick="deleteRows()" disabled>Eliminar</button>
        </div>
      </li>
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulos</th>
              <th scope="col">Ventas</th>
              <th scope="col">Costos</th>
              <th scope="col">Margen</th>
              <th scope="col">Saldo final</th>
              <th scope="col">Sumatoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" class="inputt"readonly>
              </th>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt" readonly></td>
            </tr>
          </tbody>
        </table>
      </li>
      
  
    <li class="t-content">
      <table class="table" id="table_ingresos" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">Concepto</th>
            <th scope="col">Mes 1</th>
            <th scope="col">Mes 2</th>
            <th scope="col">Mes 3</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Utilidades</th>
            <td>930.1</td>
            <td>930.1</td>
            <td>930.1</td>
          </tr>
        </tbody>
        <tfoot style="text-align: end;">
        <tr style="text-align: end;">
                <td style="text-align: end;">Total</td>
                <td> $15305</td>
                <td> $15305</td>
                <td> $15305</td>
              </tr>
         <th colspan="4" ><button type="button" class="btn btn-primary" onclick="agregarFila('table_ingresos')">Agregar</button></th>
        </tfoot>
      </table>
    </li>

    <li class="t-content">
      <table class="table" id="table_costos" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">Concepto</th>
            <th scope="col">Mes 1</th>
            <th scope="col">Mes 2</th>
            <th scope="col">Mes 3</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Nomina</th>
            <td>930.1</td>
            <td>930.1</td>
            <td>930.1</td>
          </tr>
        </tbody>
        <tfoot style="text-align: end;">
        <tr style="text-align: end;">
                <td style="text-align: end;">Total</td>
                <td> $15305</td>
              </tr>
         <th colspan="4" ><button type="button" class="btn btn-primary" onclick="agregarFila('table_costos')">Agregar</button></th>
        </tfoot>
      </table>
    </li>

    <li class="t-content">
      <table class="table" id="table_gastos" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">Concepto</th>
            <th scope="col">Mes 1</th>
            <th scope="col">Mes 2</th>
            <th scope="col">Mes 3</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Utilidades</th>
            <td>930.1</td>
            <td>930.1</td>
            <td>930.1</td>
          </tr>
        </tbody>
        <tfoot style="text-align: end;">
        <tr style="text-align: end;">
                <td style="text-align: end;">Total</td>
                <td> $15305</td>
              </tr>
         <th colspan="4" ><button type="button" class="btn btn-primary" onclick= "agregarFila('table_gastos')" >Agregar</button></th>
        </tfoot>
      </table>
    </li>
    
	  <li class="t-content">

     <div style="margin-top:20px;">
      <button id="table2-new-row-button" class="btn btn-primary">Agregar Recurso</button>
      <table class="table table-striped table-bordered" id="tableRecursos">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Recursos</th>
            <th scope="col">Enero</th>
            <th scope="col">Febrero</th>
            <th scope="col">Marzo</th>
			<th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Material 1</th>
            <td>930.1</td>
            <td>903.1</td>
            <td>345.2</td>
			<td>345.2</td>
          </tr>
        </tbody>
		 <tfoot>
    <tr>
      <th>Total</th>
      <th>$7,750.00</th>
	    <th>$7,750.00</th>
	    <th>$7,750.00</th>
	    <th>$7,750.00</th>
      </tr>

    </tfoot>
    </table>
    </div>
</li>
	
	<li class="t-content">
	  <div class="table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Recursos</th>
            <th scope="col">Enero</th>
            <th scope="col">Febrero</th>
            <th scope="col">Marzo</th>
			<th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Material 1</th>
                  <td>930.1</td>
                  <td>903.1</td>
                  <td>345.2</td>
            <td>345.2</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Total</th>
                  <th>$7,750.00</th>
                  <th>$7,750.00</th>
                  <th>$7,750.00</th>
                  <th>$7,750.00</th>
                  </tr>
            
                </tfoot>
            </table>
          </div>
	</li>
	
	<li class="t-content">
	  <div class="table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Recursos</th>
            <th scope="col">Enero</th>
            <th scope="col">Febrero</th>
            <th scope="col">Marzo</th>
			<th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Material 1</th>
                  <td>310.1</td>
                  <td>315.1</td>
                  <td>467.2</td>
            <td>876543.2</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Total</th>
                  <th>$7,750.00</th>
                  <th>$7,750.00</th>
                  <th>$7,750.00</th>
                  <th>$7,750.00</th>
                  </tr>
            
                </tfoot>
            </table>
          </div>
	</li>
      
    </ul>
  </div>
  
</div> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="JS/budgets.js"></script>

</body>
</html>
