<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/budgets.css">
    <title>Document</title>
</head>
<body>
    
<form class="container mt-5">
  <div class="t-container">
    <ul class="t-tabs">  
      <li class="t-tab">Resumen Financiero</li>  
      <li class="t-tab">Flujo de efectivo</li> 
      <li class="t-tab">Estado de resultados</li>  
      <li class="t-tab">Estado de resultados</li>  
      <li class="t-tab">Estado de resultados</li>  
      <li class="t-tab">Estado de resultados</li>  
    </ul>
    <ul class="t-contents">
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Ventas</th>
              <th scope="col">Costos</th>
              <th scope="col">Margen</th>
              <th scope="col">%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" readonly>
              </th>
              <td><input type="text" readonly></td>
              <td><input type="text" readonly></td>
              <td><input type="text" readonly></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulos</th>
              <th scope="col">Ingresos</th>
              <th scope="col">Egresos</th>
              <th scope="col">Total</th>
              <th scope="col">Acumulado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" readonly>
              </th>
              <td><input type="text" readonly></td>
              <td><input type="text" readonly></td>
              <td><input type="text" readonly></td>
              <td><input type="text" readonly></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulos</th>
              <th scope="col">Ventas</th>
              <th scope="col">Costos</th>
              <th scope="col">Margen</th>
              <th scope="col">Saldo final</th>
              <th scope="col">Sumatoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" class="inputt"readonly>
              </th>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt" readonly></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulos</th>
              <th scope="col">Ventas</th>
              <th scope="col">Costos</th>
              <th scope="col">Margen</th>
              <th scope="col">Saldo final</th>
              <th scope="col">Sumatoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" class="inputt"readonly>
              </th>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt" readonly></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulos</th>
              <th scope="col">Ventas</th>
              <th scope="col">Costos</th>
              <th scope="col">Margen</th>
              <th scope="col">Saldo final</th>
              <th scope="col">Sumatoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" class="inputt"readonly>
              </th>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt" readonly></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="t-content">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Titulos</th>
              <th scope="col">Ventas</th>
              <th scope="col">Costos</th>
              <th scope="col">Margen</th>
              <th scope="col">Saldo final</th>
              <th scope="col">Sumatoria</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <input type="text" class="inputt"readonly>
              </th>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt"readonly></td>
              <td><input type="text" class="inputt" readonly></td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
  
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="JS/budgets.js"></script>
</body>
</html>