<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/budgets.css">
    <title>Document</title>
</head>
<body>
  <form action="/directCosts" method="POST">
    <div>
      <input type="text" readonly name="name" value="
      Proyecto: <%= token.name %>
      ">
    </div>
      <div class="container mt-5 pt-5">
          <%- include('./partials/headBudget'); %>
        </div>
      <div class="container mt-5">
        
  
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Concepto</th>
                  <th scope="col">Monto</th>
                  <th scope="col">%</th>
                </tr>
              </thead>
              <tbody id="table-directCosts">
                <tr>
                  <% for(var i=0; i< data.length; i++) { %>
                    <% if(data[i].directCosts[0] != undefined) { %>
                      <th scope="col"> <input type="text" readonly></th>
                      <% } %>
                    <% } %>
                </tr>
              </tbody>
             
              <!-- <td><input type="text" disabled></td> -->
            </table>
            <div>
              <button type="submit" class="btn btn-primary" id="btn-row">Agregar</button>
            </div>
      </div>
  </form>
</body>